/* Contact section styles */
.contact-section {
    background-color: var(--color-soft-platinum);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    color: var(--color-dark-graphite); /* Deep Navy for text */
    position: relative;
    padding: 0;
    padding-top: 40px;
  }
  
  .contact-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    background-color: var(--color-silver-mist); /* Form background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for better appearance */
    overflow: hidden;
  }
  
  .contact-details {
    flex: 1;
    background-color: var(--color-cool-pewter); /* Background for the details section */
    padding: 2rem;
    display: flex;
    backdrop-filter: blur(10px);
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--color-silver-mist);
  }
  
  .contact-details h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--color-silver-mist);
  }
  
  .detail-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  
  .detail-item .icon {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: var(--color-silver-mist);
  }
  
  .social-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
  }

  /* .social-icons:hover {
    animation-play-state: paused;
  } */
  
  .social-icons a {
    font-size: 1.5rem;
    color: var(--color-silver-mist);
    transition: color 0.3s ease;
    animation: float 3s ease-in-out infinite; /* Add floating animation */
  }
  
  .social-icons a:hover {
    color: var(--color-dark-graphite);
    animation-play-state: paused;
  }
  
  .contact-form {
    flex: 2; /* Take up 2/3 of the space */
    padding: 2rem;
    background-color: var(--color-silver-mist);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .contact-form h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--color-dark-graphite);
  }
  
  .contact-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .contact-form .form-group label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: var(--color-dark-graphite);
  }
  
  .contact-form .form-group input,
  .contact-form .form-group textarea {
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid var(--color-dark-graphite);
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .contact-form .form-group input:focus,
  .contact-form .form-group textarea:focus {
    border-color: var(--color-cool-pewter);
  }
  
  .submit-button {
    background-color: var(--color-dark-graphite);
    color: var(--color-silver-mist);
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: var(--color-cool-pewter);
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @media (max-width: 1000px) {
    .contact-section {
      padding: 5rem 1rem 2rem;
      height: 50vh;
      /* min-height: 100vh; */
    }
  
    .contact-container {
      flex-direction: column;
      /* max-width: 100%; */
      min-width: 40vw;
      margin: 0 1rem;
      background-color: transparent;
      box-shadow: none;
    }
  
    .contact-details {
      /* width: 100%; */
      padding: 1.5rem;
      border-radius: 8px;
      margin-bottom: 1rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  
    .contact-details h2 {
      font-size: 1.5rem;
    }
  
    .detail-item {
      font-size: 1.2rem;
      margin-bottom: 0.8rem;
    }
  
    .detail-item .icon {
      font-size: 1.2rem;
      margin-right: 0.8rem;
    }
  
    .social-icons {
      margin-top: 1.5rem;
      justify-content: space-around;
    }
  
    .social-icons a {
      font-size: 1.3rem;
    }
  
    .contact-form {
      /* width: 100%; */
      padding: 1.5rem;
      background-color: var(--color-silver-mist);
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  
    .contact-form h2 {
      font-size: 1.5rem;
    }
  
    .contact-form .form-group {
      margin-bottom: 0.8rem;
    }
  
    .contact-form .form-group input,
    .contact-form .form-group textarea {
      padding: 0.6rem;
      font-size: 0.9rem;
    }
  
    .submit-button {
      width: 100%;
      padding: 0.7rem;
      font-size: 0.9rem;
      margin-top: 1rem;
    }
  }